<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>

        {% from "dashboardContainer.html" import dashboardContainer with context %}

        <script>
    
            var activedashboard;
    
    
            function showContent(id) {
                // set all of the other ones to invisible
                for (let i = 0; i < document.querySelectorAll(".dashboardContainer").length; i++) {
                    document.querySelectorAll(".dashboardContainer")[i].style.display = "none"
                }
                document.getElementById(id).style.display = 'inline-block'
                document.getElementById('downloadPicButton').style.display = 'inline-block'
                activedashboard = id
            }
    
            function hiddenClone(element) {
                // Create clone of element
                var clone = element.cloneNode(true);
    
                // Position element relatively within the
                // body but still out of the viewport
                var style = clone.style;
                style.position = "relative";
                style.top = window.innerHeight + "px";
                style.left = 0;
                // Append clone to body and return the clone
                document.body.appendChild(clone);
                return clone;
            }
    
            $(document).ready(function () {
    
                // Global variable
                var element = $(".dashboardContainerWrapper");
    
                // Global variable
                var getCanvas;
    
            });
    
        </script>
    
        <div>
            <center>
                <h1>Spal - Your Spotify Pal</h1>
                <h2>Top Track and Artist Generator</h2>

                <p class="info">
                    Hi {{user_display_name}}, welcome to your personalized spotify dashboard.
                </p> 
            </center>
        </div>
    
    
        <div style="width: 100%; height: auto" class="buttons">
            <center>
                <div>
                    <button onclick="showContent('short_term_dashboard')" class="generatePicButton">Short Term Receipt</button>
                    <button onclick="showContent('medium_term_dashboard')" class="generatePicButton">Medium Term Receipt</button>
                    <button onclick="showContent('long_term_dashboard')" class="generatePicButton">Long Term Receipt</button>
                </div>
            </center>
        </div>
    
        <div style="width: 100%; height: auto" class="dashboardContainerWrapper">
            <center>
                {{ dashboardContainer(user_display_name, short_term['items'], 'short_term_dashboard', 'LAST MONTH') }}
                {{ dashboardContainer(user_display_name, medium_term['items'], 'medium_term_dashboard', 'LAST 6 MONTHS') }}
                {{ dashboardContainer(user_display_name, long_term['items'], 'long_term_dashboard', 'ALL TIME') }}
            </center>
        </div>
    
    
    </body>
</html>