<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>

        {% from "dashboardContainer.html" import dashboardContainer with context %}

        <script>
    
            var activedashboard;
    
    
            function showContent(id) {
                // set all of the other ones to invisible
                for (let i = 0; i < document.querySelectorAll(".dashboardContainer").length; i++) {
                    document.querySelectorAll(".dashboardContainer")[i].style.display = "none"
                }
                document.getElementById(id).style.display = 'inline-block'
                document.getElementById('downloadPicButton').style.display = 'inline-block'
                activedashboard = id
            }
    
    
        </script>
    
        <div>
            <center>
                <h1>Spal - Your Spotify Pal</h1>
                <h2>Top Track and Artist Generator</h2>

                <p class="info">
                    Hi {{user_display_name}}, welcome to your personalized spotify dashboard.
                </p> 
            </center>
        </div>
    
    
        <div style="width: 100%; height: auto" class="buttons">
            <center>
                <div>
                    <button onclick="showContent('short_term_dashboard')" class="generatePicButton">Last 1 month</button>
                    <button onclick="showContent('medium_term_dashboard')" class="generatePicButton">Last 6 Months</button>
                    <button onclick="showContent('long_term_dashboard')" class="generatePicButton">All Time</button>
                </div>
            </center>
        </div>
    
        <div style="width: 100%; height: auto" class="dashboardContainerWrapper">
            <center>
                {{ dashboardContainer(user_display_name, short_term_tracks['items'], short_term_artists['items'], 'short_term_dashboard', 'LAST MONTH') }}
                {{ dashboardContainer(user_display_name, medium_term_tracks['items'], medium_term_artists['items'], 'medium_term_dashboard', 'LAST 6 MONTHS') }}
                {{ dashboardContainer(user_display_name, long_term_tracks['items'],  long_term_artists['items'],'long_term_dashboard', 'ALL TIME') }}
            </center>
        </div>
    
    
    </body>
</html>