{% macro dashboardContainer(display_name, songs, artists, id, duration) -%}
<div class="dashboardContainer" id="{{ id }}">
    <h2 class="logo">
        {{ duration }}
    </h2>
    <p class="date">
        TOP TRACKS FOR {{ display_name }}
    </p>

    <table class="tracks">
        <thead>
            <tr>
                <td class="begin">
                    RANK
                </td>
                <td>
                    TRACK
                </td>
            </tr>
        </thead>
    {% for song in songs %}
        <tr>
            <td class="begin">
                {{ loop.index }}
            </td>
            <td class="name">
                {{ song.name }} - {{ song.artists[0].name }}
            </td>
        </tr>
    {% endfor %}
        <tr class="total-counts">
        </tr>
    </table>

    <table class="artists">
        <p class="date">
            TOP ARTISTS FOR {{ display_name }}
        </p>
        <thead>
            <tr>
                <td class="begin">
                    RANK
                </td>
                <td>
                    ARTIST
                </td>
            </tr>
        </thead>
    {% for artist in artists %}
        <tr>
            <td class="begin">
                {{ loop.index }}
            </td>
            <td class="name">
                {{ artist.name }}
            </td>
        </tr>
    {% endfor %}
        <tr class="total-counts">
        </tr>
    </table>

    <div class="thanks">
    </div>
</div>


{%- endmacro %}