<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <center>
            <h1>Spal - Your Spotify Pal</h1>
            <h2>Top Track and Artist Generator</h2>
    
            <button class="spotifyButton" onclick="location.href = '/login';" >Log in with spotify</button>

            <p class="info">
                This website is meant to be a simple tool to show you your top tracks and artists from any given time period!
            </p>
        </center>
    </body>
</html>